body {
    background-color: white;
}

.hidden {
    display: none;
}

#title {
    background-color: #00A4E0;
    width: 100%;
    min-width: 900px;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#logo {
	width: 230px;
	float: left;
	overflow: visible;
	position: relative;
	
}

/*#logo img {
    padding: 5px;
}*/

#headerInfo {
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;	
    color: white;
    font-family: Verdana;
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: bold;
}

#headerSearch {
    float:right;;
    margin-top: 8px;
    margin-right: 20px
}

#headerSearch input[type="submit"] {
    background-color:whitesmoke;
    border-radius:3px;
    border: 1px solid #efefef;
    cursor: pointer;
    font: 13px/18px Calibri, 'Helvetica Neu', Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 2px 5px 2px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 0px 1px rgba(0,0,0,0.75);
    text-transform: uppercase;
    width: auto;
}

#headerSearch input[type="submit"]:hover {
    background-color: #ccc;
}

.content {
    width: 85%;
    height: auto;
    position:relative;
    top: 58px;
    margin-left: auto;
    margin-right: auto; 
}

#contentView {
    width: 100%;
    height:auto;
    box-shadow: 7px 7px 25px -5px black;
    border-radius: 10px 10px;
    padding: 8px;
}

/////

#jpglog {
    float:left;
    padding:10px;
}

.searchView {
    clear: both;
    width:540px;
    height:60px;
    background-color: #ecf8fc;
    border: 2px solid #00A4E0;
    border-radius: 5px 5px;
    padding: 8px;
    position:relative;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#searchForm {
    margin-top: 20px;
    width: 510px;
    margin-left: auto;
    margin-right: auto;
}

.searchView form {
    font-family: Verdana;
    font-size: 0.9em;
}

.searchView label {
    padding:3px;
    width:40px;
    color:grey;
}

.searchView input[type="submit"] {
    background-color:#00A4E0;
    border-radius:10px;
    border: 1px solid #efefef;
    cursor: pointer;
    font: 13px/18px Calibri, 'Helvetica Neu', Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 5px 10px 4px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 0px 1px rgba(0,0,0,0.75);
    text-transform: uppercase;
    width: auto;
}

.searchView input[type="submit"]:hover {
    background-color: #ccc;
}

#footer {
    clear:both;
    border-top: 3px solid #00A4E0;
    text-align: right;
    margin-top: 90px;
    padding-bottom: 10px;
    font-size: 12px;
    font-style: italic;
    display: flex;
}
#footer p {
    font-family: Verdana;
    font-size: 0.9em;
    color: grey;
    position: absolute;
    right: 0;
}
